__pycache__/

# Ignore all directories
*/

# But don't ignore these specific directories
!/bark/
!/bark_infinity/
!/notebooks/
!/webui/


bark_samples/
bark/assets/prompts/*.wav
bark_infinity/assets/prompts/*.wav
*.wav
custom_speakers/
.vscode
bark_infinity.egg-info/
.history/
*.log
