boto3
funcy
numpy
scipy
tokenizers
torch
tqdm
transformers
ipython
huggingface_hub>0.14
rich
pathvalidate
gradio
rich-argparse
encodec
fairseq
audiolm_pytorch
ffmpeg
universal-startfile
requests
diffusers
audio2numpy
joblib
soundfile
audiolm_pytorch
universal-startfile
soundfile
ffmpeg
ffmpeg-python
