boto3
funcy
numpy
scipy
tokenizers
torch
tqdm
transformers
ipython
huggingface_hub>0.14
rich
pathvalidate
gradio
rich-argparse
encodec
fairseq
audiolm_pytorch
chardet
soundfile
ffmpeg-downloader
pydub