boto3
funcy
numpy
scipy
tokenizers
torch
tqdm
transformers
ipython
huggingface_hub>0.14
rich
pathvalidate
gradio>=3.33.1
rich-argparse
encodec
audiolm_pytorch
chardet
soundfile
pydub
ffmpeg
universal-startfile
requests
diffusers
audio2numpy
joblib
soundfile==0.12.1 
audiolm_pytorch
universal-startfile


